
.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 320px;
    margin: 50px auto;
}

.input {
    font-size: 17px;
    margin-top: 10px;
}

.button {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    align-self: flex-start;
}

